# files
*.pcd
*.las
*.osm
*.bag
*.onnx
*.weights
*.zip
*.pyc
build.gradle
.catkin_workspace
.catkin_tools
*.engine
*.prototxt
*.caffemodel
*.pth

# IDE
.vscode
.idea
.pyc

# colcon
build/
devel/
install/
logs/
log/
**/build
**/devel